/* Tailwind CSS Import 및 기타 스타일 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */

html {
    font-size: 110%;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    font-size: 2rem; /* 기본 font-size의 2배 */
  }
  
  button {
    font-size: 1rem; /* 기본 font-size의 배율 */
  }
  
  .App {
    text-align: center;
  }
  

/* 전광판 애니메이션 */
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.marquee-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: #ffffff; /* 배경색 흰색 */
}

.marquee {
  display: flex;
  width: 200%;  /* 두 배로 넓힘 */
  animation: marquee 10s linear infinite;
}

.marquee span {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 3rem; /* 큰 폰트 크기 설정 */
  font-weight: bold; /* 텍스트 볼드 */
  color: darkslategrey; /* 텍스트 검정색 */
  padding: 0 2rem;  /* 텍스트 사이의 간격. 필요에 따라 조정 */
}